/* ========================= 
   Footer Section
========================= */
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.main-footer {
  background-color: #111;
  color: #fff;
  padding: 4rem 2rem;
  font-family: "Montserrat", sans-serif;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-quote h3 {
  font-weight: 300;
  line-height: 1.5;
  color: #eee;
  font-family: "MuseoModerno", sans-serif;
  flex: 1;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  flex: 1;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #00d4ff;
}

.footer-contact {
  flex: 1;
}
.footer-contact h3 {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.footer-contact p {
  font-size: 0.95rem;
  line-height: 1.5;
  opacity: 0.9;
  margin-bottom: 1.5rem;
}

.footer-buttons {
  display: flex;
  gap: 1rem;
}

.country-btn,
.contact-btn {
  border: none;
  border-radius: 8px;
  padding: 0.7rem 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.country-btn {
  background: #fff;
  color: #111;
}

.contact-btn {
  background: #fff;
  color: #111;
}

.contact-btn:hover {
  background: #00d4ff;
  color: #000;
}

.footer-divider {
  border: 0;
  border-top: 1px solid #444;
  margin: 2rem 0;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  font-size: 0.9rem;
  line-height: 1.6;
}

.footer-right {
  display: flex;
  height: 100%;
  gap: 7rem;
  justify-items: center;
}

/* ===================================== footer brand ======================== */

.footer-brand {
  display: flex;
  width: 100%;
  justify-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  padding-right: 1rem;
}

.footer-brand h2 {
  font-weight: 700;
  text-align: center;
}

.footer-brand a {
  color: #fff;
  text-decoration: underline;
}

.footer-links-center {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.footer-links-center a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.footer-links-center a:hover {
  color: #00d4ff;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.social-links i {
  font-size: 1.2rem;
  transition: color 0.3s;
}

.social-links i:hover {
  color: #00d4ff;
}

.social-links span {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #aaa;
}

.footer-paragraph-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.copyright {
  font-size: 0.8rem;
  color: #aaa;
}

/* Responsive */
@media (max-width: 900px) {
  .footer-top {
    flex-direction: column;
    text-align: center;
  }
  .footer-brand,
  .footer-right {
    flex-direction: column;
  }
  .footer-brand {
    gap: 1.5rem;
    padding: 0;
  }
  

  .footer-right {
    gap: 1.5rem;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  .footer-links {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .footer-right {
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }
}
