.industry-section {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 60px 5%;
  background: #fff;
}

.industry-heading {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 40px;
}

.industry-heading h2 {
  font-size: 28px;
  font-weight: 600;
  color: #222;
}

.industry-heading h2 span {
  color: #f46060;
}

.industry-heading p {
  font-size: 15px;
  color: #555;
  margin-top: 8px;
}

.industry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
}

.industry-card {
  position: relative;
  color: #fff;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
}

.industry-card h3 {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  bottom: 0.8rem;
  left: 0.5rem;
  max-width: 130px;
  line-height: 1.2;
  word-break: break-word;
}

.industry-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
  .industry-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .industry-card {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .industry-card h3 {
    max-width: none;
  }

  .industry-card img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    /* position: absolute; */
    bottom: 0;
  }

  .industry-card h3 {
    text-align: center;
    top: 0.8rem;
    left: 0.5rem;
  }
  #finance-industry img {
    max-width: 100%;
    max-height:50%;
    object-fit: contain;
    bottom: 0;
  }
}
