/* Reset */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #fff;
}

/* Header Section */
.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-page .header {
  background: url("../assets/images/home/headerBg.png") center/cover no-repeat;
}
.about-page .header {
  background: url("../assets/images/about/headerBg.png") center/cover no-repeat;
}
.service-page .header {
  background: url("../assets/images/service/headerBg.png") center/cover
    no-repeat;
  height: 70vh;
}
.product-page .header {
  background: url("../assets/images/product/products_header.png") center/cover
    no-repeat;
  height: 70vh;
}
.career-page .header {
  background: url("../assets/images/career/headerBg.png") center/cover no-repeat;
  height: 70vh;
}

/* Navbar */
.navbar {
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}

.logo h2 {
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
}

.logo-icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  background: #fff;
  padding: 1rem 1rem;
  border-radius: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  padding: 0.2rem 0.5rem;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background: #2d2d2d;
  color: #fff;
}

#sidebar .active-tab {
  background: #000;
  color: #fff;
}

.contact-btn:hover {
  background: #00bcd4;
  color: #fff;
}

/* ===== Mobile Sidebar & Toggle ===== */
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  z-index: 1001;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100vh;
  background-color: #111;
  padding-top: 5rem;
  gap: 1.5rem;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar li {
  list-style: none;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
  display: block;
  border-radius: 10px;
  transition: 0.3s;
}

/* .sidebar a:hover {
  background: #00bcd4;
  color: #fff;
} */

.sidebar.open {
  left: 0;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  transition: 0.3s;
}

.overlay.show {
  display: block;
}

/* Hero Content */
.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}

/* ======================== CAREER PAGE SEARCH BAR STYLES ====================== */
.search-bar {
  margin-top: 2rem;
  max-width: 600px;
  background: #fff;
  width: 100%;
  display: flex;
  padding: 8px;
  border-radius: 8px;
}
.search-bar input {
  outline: none;
  border: none;
  padding: none;
  font-size: 1rem;
  font-weight: 500;
  color: #2d2d2d;
}
.search-bar button {
  background: #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12%;
  color: #fff;
  border: none;
  padding: 3px 16px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  max-width: 600px;
}

.hero-content p {
  margin-top: 1rem;
  font-size: 1rem;
  max-width: 500px;
  line-height: 1.6;
  opacity: 0.9;
}

.btn {
  display: inline-block;
  margin-top: 1.5rem;
  background: #fff;
  color: #000;
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.transparent-btn {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 9px;
}

/* .btn:hover {
  background: #00bcd4;
  color: #fff;
} */

@media (max-width: 768px) {
  /* ===== Responsive ===== */

  .nav-links {
    display: none;
  }

  .menu-toggle {
    display: block;
    order: 1;
  }

  .navbar {
    width: 100%;
    padding: 1rem;
  }

  /* Move logo to right side */
  .logo {
    order: 2;
    margin-left: auto;
  }
  .nav-links.open {
    display: flex !important;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100vh;
    background: #111;
    padding-top: 5rem;
    gap: 1.5rem;
    border-radius: 0;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
  }

  .nav-links.open a {
    color: #fff;
    padding: 0.7rem 1.5rem;
  }

  /* .nav-links.open a:hover {
    background: #00bcd4;
  } */

  /* ====================== CAREER PAGE SEARCH BAR ADJUSTMENTS ====================== */
  .search-bar {
    background-color: transparent;
    gap: 1rem;
    flex-direction: column;
  }
  .search-bar input {
    font-size: 0.8rem;
    padding: 8px;
  }
  .search-bar button {
    justify-content: center;
    padding: 8px 12px;
    gap: 8px;
  }
}
