/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #fff;
  background-color: #0f0f0f;
}

/* Header Section */
.header {
  height: 100vh;
  background: url("/assets/images/homPageHeaderBg.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
}

.logo h2 {
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
}

.logo-icon {
  width: 100%;
  height: 1.5rem;
}

/* Nav Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  background: #fff;
  padding: 1rem 1rem;
  border-radius: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  padding: 0.2rem 0.5rem;
  border-radius: 25px;
  /* background: #fff; */
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background: #2d2d2d;
  color: #fff;
}

.contact-btn {
  background: #000;
  color: #fff;
}

.contact-btn:hover {
  background: #00bcd4;
  color: #fff;
}

/* Hero Content */
.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  max-width: 600px;
}

.hero-content p {
  margin-top: 1rem;
  font-size: 1rem;
  max-width: 500px;
  line-height: 1.6;
  opacity: 0.9;
}

.btn {
  display: inline-block;
  margin-top: 1.5rem;
  background: #fff;
  color: #000;
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #00bcd4;
  color: #fff;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .hero-content h1 {
    font-size: 2rem;
  }
}
