/* =========================
   Partner Ecosystem Section
========================= */
.partners {
  /* background: linear-gradient(135deg, #020024 0%, #090979 50%, #00d4ff 100%); */
  background: url("../assets/images/home/partener.png") center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 60px 5%;
}
.partner-heading {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 2.5rem;
}

.partners h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.partners p {
  font-size: 1rem;
  opacity: 0.85;
}

.partner-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 1.5rem;
}

.logo-box {
  background: #fff;
  border-radius: 5px;
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo-box img {
  max-width: 80%;
  max-height: 60%;
  object-fit: contain;
}

.logo-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

/* Responsive */
@media (max-width: 768px) {
  .logo-box {
    width: 120px;
    height: 70px;
  }
  .partners h2 {
    font-size: 1.6rem;
  }
  .partners {
    align-items: center;
  }
  .partner-logos {
    justify-content: center;
  }
}

/* ========================= 
   Partners Marquee Section
========================= */
.partners-marquee {
  background: #fff;
  color: #222;
  text-align: center;
  padding: 4rem 2rem;
  overflow: hidden;
}

.partners-marquee h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.partners-marquee p {
  font-size: 1rem;
  opacity: 0.85;
  margin-bottom: 2.5rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/* Marquee Animation */
.marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee-scroll 15s linear infinite;
}

.marquee-content {
  display: flex;
  gap: 3rem;
  padding: 8px;
  animation: scroll 15s linear infinite;
}

.marquee-content img {
  width: 100px;

  height: auto;
  object-fit: contain;
  filter: grayscale(0%);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.marquee-content img:hover {
  filter: grayscale(30%);
  transform: scale(1.1);
}

/* Infinite loop animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .partners-marquee h2 {
    font-size: 1.6rem;
  }

  .marquee-content img {
    width: 100px;
  }
}
