.success-section {
  padding: 8% 5%;
  background-color: #f9fcfc;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  color: #111;
}

.section-subtitle {
  color: #444;
  font-size: 1rem;
  max-width: 700px;
}

.success-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.success-card {
  background-color: #e9f8fb;
  padding: 25px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.success-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.card-header h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #000;
}

.location {
  background-color: #d4f0ff;
  color: #007acc;
  padding: 5px 10px;
  font-size: 0.85rem;
  border-radius: 6px;
}

.success-card p {
  font-size: 0.9rem;
  color: #333;
  margin: 5px 0;
}

.success-card strong {
  color: #000;
}

.view-btn {
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s;
}

.view-btn:hover {
  background-color: #007acc;
}

/* success contact card */
.contact-card {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  background: linear-gradient(rgba(10, 12, 30, 0.95), rgba(10, 12, 30, 0.95)),
    url("assets/wave-lines.svg");
  background: url("../../assets/images/service/contactCardBg.png") center/cover
    no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  padding: 40px;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-text {
  flex: 1;
  min-width: 250px;
}

.contact-text h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.contact-text p {
  font-size: 0.95rem;
  color: #d0d3e0;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  font-size: 0.95rem;
  outline: none;
}

.contact-form textarea {
  min-height: 100px;
  resize: none;
}

.contact-form button {
  background-color: #242b7c;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: #3a49c4;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-card {
    flex-direction: column;
    text-align: center;
  }

  .contact-form {
    width: 100%;
  }
}
