.tech-section {
  padding: 80px 5%;
  background: url("../../assets/images/service/technologyUsed.png") center/cover
    no-repeat;
  color: #f0f4ff;
  font-family: "Poppins", sans-serif;
}

.tech-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  color: #a2d2ff;
}

.tech-subtitle {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 40px;
  font-size: 1rem;
  color: #cdd6f4;
}

.tech-grid {
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  align-items: center;
  justify-items: center;
}

.tech-item {
  height:4rem;
  background-color: white;
  padding: 0.5rem 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-item img {
  max-width: 80px;
  /* opacity: 0.85; */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.tech-item img:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* Responsive */
@media (max-width: 600px) {
  .tech-title {
    font-size: 1.6rem;
  }
  .tech-subtitle {
    font-size: 0.9rem;
  }
  .tech-item img {
    max-width: 60px;
  }
}
